
section:nth-child(2) {
    background-color: var(--color-background);
    padding: 1em;
    position: relative;
    overflow: hidden;
}

section:nth-child(2) h2, section:nth-child(2) h2 span {
    font-size: 38px;
    padding-right: 25%;
    padding: 0.5em 20% 1em 0;
    line-height: 0.99999;
    font-weight: 200;
    text-transform: none;
    border: none;

    
}

/* werkt niet :( */
section:nth-child(2) span {
    position: static;
    z-index: 10;
    position: relative;
    z-index: 1;
}

section:nth-child(2) li {
    color: var(--color-black);
    text-transform: uppercase;

    padding: 0.2em 0;
}

section:nth-child(2) a {
    position: relative;
    text-transform: uppercase;
	font-size: 13px;
    color: var(--color-accent);

    text-decoration: none;
    background-color:var(--color-white);
    border: 1.5px solid var(--color-accent);

    display: inline-block;
    padding: 0.9em 2em;
    margin: 5em 0;
   
    
    transition: 0.5s;
}

section:nth-child(2) div {
    position: relative;
    z-index: 1;
}


section:nth-child(2) a::before {
    content: "";
    background-color: var(--color-white);
    border: 1.5px solid var(--color-accent);

    position: absolute;
    width: 13.8em;
    height: 3.3em;
    top: 0;
    left: 0;
    rotate: 4deg;
    z-index: -2;

    transition: 0.5s;
}

section:nth-child(2) a::after {
    content: "";
    background-color: var(--color-white);
    border: 1.5px solid var(--color-accent);

    position: absolute;
    width: 13.8em;
    height: 3.3em;
    top: 0;
    left: 0;
    rotate: -4deg;
    z-index: -2;

    transition: 0.5s;
}
/* ik heb dit geprobeerd te doen met ":is(a:active, a:active::before)" maar dit wilde niet werken, met andere elementen zoals h2 werkt het echter wel */
section:nth-child(2) :is(a:active, a:active::before) {
    color: var(--color-white);
    background-color:var(--color-accent);
}

section:nth-child(2) a:active::before {
    color: var(--color-white);
    background-color:var(--color-accent);
    rotate: none;
}

section:nth-child(2) a:active::after {
    color: var(--color-white);
    background-color:var(--color-accent);
    rotate: none;
}

section:nth-child(2) img {
    width: 24%;
    aspect-ratio: 1/1.2;
    position: absolute;
    opacity: 0;
}

section:nth-child(2) img:nth-of-type(1) {
    top:100%;
    left:10%;
}

section:nth-child(2) img:nth-of-type(2) {
    top:100%;
    left:30%;
}

section:nth-child(2) img:nth-of-type(3) {
    top:100%;
    left:43%;
}

section:nth-child(2) img:nth-of-type(4) {
    top:100%;
    left:65%;
}

@keyframes flying-image {
    0% {
        transform: translateY(0);
    }

    7% {
        opacity: 1;
        transform: translateY(-15em);
    }

    42% {
        opacity: 1;
        transform: translateY(-30em);
    }

    50% {
        opacity: 0;
        transform: translateY(-45em);
    }

}

section:nth-child(2) img {
    animation-name: flying-image;
    animation-iteration-count:infinite;
    animation-timing-function:linear; 
    animation-duration: 8s;
}

section:nth-child(2) img:nth-of-type(1) {
    
}

section:nth-child(2) img:nth-of-type(2) {
    animation-delay: 6s;
}

section:nth-child(2) img:nth-of-type(3) {
    animation-delay: 1s;
}

section:nth-child(2) img:nth-of-type(4) {
    animation-delay: 4s;
}




section:nth-child(3) {
    padding: 1em;
}

section:nth-child(3) p {
    text-transform: uppercase;
    font-weight: 400;

    padding: 1em 0 2em;
}

section:nth-child(3) ul li {
    font-size: 35px;
    font-weight: 200;
    text-align: center;
    
    display: block;
    border: 2px solid var(--color-text);

    padding: 0.5em 0;
    margin: 0.3em 0 0em;
}



section:nth-child(4) {
    padding: 1em;
}

section:nth-child(4) button {
    appearance: none;
    border: none;
    background-color: var(--color-white);
    fill: none;
}

section:nth-child(4) button:nth-of-type(1) svg {
    rotate: 180deg;
}

section:nth-child(4) > ul {
    
	display: flex;
	overflow-x: auto;
	
	scroll-snap-type: inline mandatory;
	scroll-behavior: smooth;
}

section:nth-child(4) > ul::-webkit-scrollbar {
    display: none;
}
    
section:nth-child(4) > ul >li{
    display: flex;
    background-color: var(--color-background);
    background-image: url(../images/bg.svg);
    background-size: cover;

    flex-shrink:0;
	scroll-snap-align: center;

    width: 85%;
    height: 60%;
    padding: 2em;
    margin: 0.35em;
    gap: 0.75em;
}

section:nth-child(4) article p {
    color: var(--color-text);
    font-weight: 700;
    padding: 0.3em 0;
}

section:nth-child(4) article ul li {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

section:nth-child(4) article a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    padding-top: 6em;
    
}

section:nth-child(4) article a::before{
    content: url(../images/arrow.svg);
    content: url(../images/arrow.svg);
    content: url(../images/arrow.svg);
}

section:nth-child(4) article a::after{
    content: url(../images/arrow.svg);
    content: url(../images/arrow.svg);
    content: url(../images/arrow.svg);
}

section:nth-child(4) > p {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-text);
    padding: 1em 0 8em;
    border-bottom: 2px solid var(--color-text);
}

section:nth-child(4) marquee {
    font-size: 60px;
    font-weight: 200;
    padding: 0.25em 0 0;
    margin: 0 calc(-.35rem - .875rem);
}

section:nth-child(5) {
    padding: 1em;
}

section:nth-child(5) h4 {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    rotate: 180deg;
}

section:nth-child(5) ul {
    margin: 4em 0;
}

section:nth-child(5) li img {
    width: 85%;
    aspect-ratio: 1/1.2;
    order: -1;
}

section:nth-child(5) li a {
    display: flex;
    text-decoration: none;
    gap: 1.4em;
    margin: 1.5em 0;
}

section:nth-child(6) {
    background-color: var(--color-background);
    padding: 1em;
}

section:nth-child(6) h2 {
    font-size: 35px;
    color: var(--color-accent);
    font-weight: 200;
    text-align: center;
    border: none;
    padding: 2.5em 0 1em;
}

section:nth-child(6) li {
    background-color: var(--color-white);
    border: 2px solid var(--color-text);
    padding: 5em 1em;

    display: grid;
    gap: 1em;
    justify-items: center;
}

section:nth-child(6) p {
    color: var(--color-text);
}

section:nth-child(6) p:nth-child(1) {
    font-size: 30px;
    line-height: 0.9999;
    font-weight: 700;
    text-align: center;
}

section:nth-child(6) p:nth-child(2) {
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1em;
}

section:nth-child(6) button {
    border: none;
    background-color: var(--color-background);
    color: var(--color-text);
}

section:nth-child(6) button svg {
    width: 5em;
}

section:nth-child(6) button:nth-of-type(1) svg {
    rotate: 180deg;
}

section:nth-child(7) {
    background-color: var(--color-background);
    margin-top: 3em;
    padding: 3em 1em;
}

section:nth-child(7) article {
    border-top: 1px solid var(--color-text);
    padding: 2.5em 0;
    display: grid;
}

section:nth-child(7) article h3 {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
   
}

section:nth-child(7) article p:nth-child(1) {
    color: hotpink;
    
}






